<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Puhutaan suomea</title>
  <meta name="description" content="Puhutaan suomea cards">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css?v=1.3">
  <link rel="stylesheet" href="lib/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="lib/css/bootstrap.min.css">
  <script src="lib/vue.js"></script>
</head>
<body>
  <div id="app" class="app">
    <div>
    	<button v-on:click="toggleAnswers" v-if="!isAnswerShown" class="btn btn-danger">Show answers</button>
    	<button v-on:click="toggleAnswers" v-if="isAnswerShown" class="btn btn-danger">Hide answers</button>
    </div>
    <div class="lang-card card" id="question">
      {{ current + 1 }}. {{ question }}
    </div>
    <section class="selected-chapters" v-on:click="resetIndex">
      <span><input type="checkbox" value="1" v-model="selectedChapters">1</span>
      <span><input type="checkbox" value="2" v-model="selectedChapters">2</span>
      <span><input type="checkbox" value="3" v-model="selectedChapters">3</span>
      <span><input type="checkbox" value="4" v-model="selectedChapters">4</span>
      <span><input type="checkbox" value="5" v-model="selectedChapters">5</span>
    </section>
    <div class="lang-card card" id="answer" v-if="isAnswerShown">
      <article class="answer">
        {{ answer }}
      </article>
      <button v-on:click="vocalizeAnswer" class="btn-success">Vocalize</button>
    </div>
    <div class="btn-group">
      <button v-on:click="prevQuestion" class="btn-success">Prev</button>
      <button v-on:click="randomQuestoin" class="btn-primary">Random</button>
      <button v-on:click="nextQuestion" class="btn-success">Next</button>
    </div>
  </div>
  <script src="scripts.js" type="module"></script>
</body>
</html>
